* {
    margin: 0;
    padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
  }

:target {
    scroll-margin-block: 5ex;
}

html {
    scrollbar-gutter: stable;
}
  
body {
    background-image: url(../public/assets/aipagebackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    background-color: #B19970;
}


.chat-input-submit button {
    background-color: transparent;
    outline: none;
    border: none;
}


.chatbox-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 300px;
    width: 500px;
    display: block;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.chatbox-container:hover {
    overflow-y: auto;
}

.message-bubble-left {
    display: inline-block;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    max-width: 70%;
    background-color:lightcyan;
}

.message-right {
    display: flex;
    flex-direction: column;
}

.message-bubble-right {
    align-self: flex-end;
    float: right;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    max-width: 70%;
    background-color:beige;
}

.chat-input-box {
    position: fixed;
    bottom: 23%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 50px;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chat-input {
    margin: auto;
    font-size: 16px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 6px;
    border-radius: 2px;
    border: 3px solid black;
}
.chat-input-submit {
    display: inline-block;
    position: relative;
    bottom: 20px;
    margin: auto;
}

.back-button {
    width: 70px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
}