body {
    background-color: #B19970;
    display: flex;
    margin: 0;
    padding: 0;
    cursor: url(https://cur.cursors-4u.net/others/oth-5/oth510.png), auto !important;
}

#full-screen-scrapbook {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: auto;
    object-fit: cover; 
    z-index:0;
}

#polaroid-one {
    left: 14%;
    top: 11%;
}

#polaroid-two {
    right: 30%;
    top: 15%;
    height: 28%;
}

#polaroid-three {
    left: 28%;
    top: 55%;
    height: 28%;
}

#polaroid-four {
    right: 43%;
    top: 50%;
    height: 35%;
}

.polaroid {
    position:absolute;
    height: 34%;
    max-width: 13%;
    z-index: 3;
    transition: transform 0.3s ease, filter 1s ease;;
    opacity: 95%;
}
    
.polaroid:hover {
    transform: scale(1.03);
    opacity: 100%;
    filter: drop-shadow(4px 4px 10px rgba(84, 39, 103, 0.5));
}

input[type="text"], textarea {
    width: 10%; /* Makes the text box take up full width */
    border: 1px dotted #2a0d2b;
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    background: transparent;
    left: 29%;
    top: 17%;
    min-height: 150px;
    font-family: 'Pangolin', serif;
    letter-spacing: 1.2px;
    line-height: 15px;
}



#message1 {
    left: 46%;
    top: 18%;
}

#message2 {
    left: 59%;
    top: 60%;
}

#message3 {
    left: 15%;
    top: 60%;
}

#pen {
    position:absolute;
    height: 50%;
    z-index: 1;
    right: 10%;
    bottom: 15%;
    transition: transform 0.3s ease, filter 1s ease;;
    opacity: 95%;
}

#pen:hover {
    transform: scale(1.03);
    opacity: 100%;
    filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}

#pencil {
    position:absolute;
    height: 50%;
    right: 3%;
    bottom: 10%;
    z-index: 1;
    transition: transform 0.3s ease, filter 1s ease;;
}

#pencil:hover {
    transform: scale(1.03);
    opacity: 100%;
    filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}

.postit {
    position:absolute;
    height: 34%;
    max-width: 13%;
    z-index: 3;
    transition: transform 0.3s ease, filter 1s ease;;
    opacity: 95%;
}

.postit:hover {
    transform: scale(1.03);
    opacity: 100%;
    filter: drop-shadow(4px 4px 10px rgba(84, 39, 103, 0.5));
}

#postitnote1 {
    position: absolute;
    left: 13%;
    top: 58%;
    height: 25%;
}

#postitnote2 {
    position: absolute;
    left: 57%;
    top: 58%;
    height: 25%;
}

#postitnote3 {
    position: absolute;
    left: 44%;
    top: 16%;
    height: 25%;
}

#postitnote4 {
    position: absolute;
    left: 27%;
    top: 15%;
    height: 25%;
}

textarea {
    overflow: auto; /* Enables scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer and Edge */
}

textarea::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and newer Edge */
}


.polaroid-img {
    position: absolute;
    height: 18%;
    max-width: 9%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.3s ease, filter 1s ease;;
}


#img1 {
    top: 18%;
    left: 15%;
}

#img2 {
    right: 30%;
    top: 18%;
}

#img3 {
    left: 28%;
    top: 58%;
}

#img4 {
    right: 45%;
    top: 56%;
}