body {
  background-color: #B19970;
  display:flex;
  align-items:center;
  margin: 0;
  padding: 0;
}

#full-screen-main {
  position:absolute;
  height: 100%;
  width: auto;
  object-fit: cover; 
  justify-content:center;
  margin-left: 15vh;
}

#initial-laptop {
  position:absolute;
  height: 55%;
  right: 3%;
  transition: transform 0.3s ease;
  opacity: 95%;
  filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}

#initial-laptop:hover {
  transform: scale(1.03);
  opacity: 100%;
  filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}

#initial-book {
  position: fixed;
  height: 600%;
  /* bottom: 8%;
  right: 50%; */
  transition: transform 0.3s ease;
  opacity: 95%;
  filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}

#initial-book:hover {
  transform: scale(1.03);
  opacity: 100%;
  filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}


#initial-ipod {
  position:absolute;
  height: 30%;
  left: 18%;
  top: 5%;
  transition: transform 0.3s ease;
  opacity: 95%;
  filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));

}

#initial-ipod:hover {
  transform: scale(1.03);
  opacity: 100%;
  filter: drop-shadow(4px 4px 10px rgba(49, 1, 12, 0.5));
}

.login {
  position: absolute;
  bottom: 45%;
  right: 60%;
  transform: translate(0vw, 0);
}

#user {
  position: relative;
  font-size: xx-large;
  width: 150px;
  z-index: 1000;
  transform: translate(30%, 80%) rotate(-12deg);
  /* background-color: transparent;
  border: transparent;
  outline: transparent; */
}